#mainlayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #ffffff;
    text-decoration-line: none;
}

#startmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20vh;
}

#startmenu > header, #navstart {
    width: 30vw;
}

#main {
    display: flex;
    flex: 1;
}

#main > nav {
    flex: 0 0 20vh;
}

#main > #body {
    flex: 1;
}

#workspace {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 5vh 2.5vh auto auto;
    height: 100%;
}

#workspace > #workspace-title {
    grid-column: 1 / 3;
}

#workspace > #matrixf {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    gap: 1vh;
}

#matrixf > button {
    width: 130px;
    height: 40px;
}

#aboutlayout {
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    grid-template-rows: repeat(2, 15vw);
    justify-content: space-between;
    align-content: space-between;
    height: 100vh;
}

#aboutcard {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#aboutcard > span {
    margin: 10px;
}

#nav, #navstart {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

#foot {
    display: flex;
    justify-content: flex-end;
    gap: 2vh;
    padding: 1.75vh;
}

.is-thin {
    font-weight: lighter;
}

.is-bold {
    font-weight: bold;
}

.is-small {
    font-size: 1vh;
}

.is-medium {
    font-size: 1.5vh;
}

.is-large {
    font-size: 2.5vh;
}

.is-xlarge {
    font-size: 5vh;
}

.is-xxlarge {
    font-size: 7vh;
}


.is-max {
    height: 100%;
}

.is-reversed {
    justify-content: end;
}

.is-simple {
    margin: 0.725vh;
    padding: 1vh;
    text-align: center;
}

.is-centered {
    text-align: center;
}

.glass_bg {
    background: #080a0c99;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #f0f8ff;
}

.glass_buttons {
    background: #ffffff11;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #f0f8ff;
}

.glass_buttons:hover {
    background-color: white;
    border-radius: 16px;
    color: black;
    backdrop-filter: blur(4.7px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.matrix {
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    grid-template-columns: 7.5vh 7.5vh 7.5vh;
    grid-template-rows: 7.5vh 7.5vh 7.5vh;
}

.matrix > input {
    font-size: 3vh;
    text-align: center;
    width: 5vh;
    height: 5vh;
}

.social_icons {
    width: 4vh;
    height: 4vh;
}

.tjs {
    background-color: #1b1b1b;
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

@media only screen and (max-width: 600px) {

    #main {
        flex-direction: column;
        align-items: center;
    }

    #main > #body {
        order: -1;
    }

    #menu > #nav {
        width: 40vw;
    }

    #main > #nav {
        width: 90vw;
    }

    #startmenu > header {
        font-size: 50px;
        width: 50vw;
    }

    #workspace {
        width: 100vw;
        scale: 0.8;
    }

    #workspace > #matrixf {
        margin-top: 25px;
        gap: 4px;
    }

    #matrixf > button {
        width: 110px;
        height: 40px;
    }

    #aboutlayout {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}